pkgbase = tetromino-bin
	pkgdesc = Falling-block puzzle game for the terminal (prebuilt static binary)
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/varuns2903/tetromino
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = tetromino=1.1.0
	conflicts = tetromino
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/varuns2903/tetromino/releases/download/v1.1.0/tetromino-1.1.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = 96d6881a24699be19e33318bb4488431505261533eb646c0dce8aa529ee9a946
	source_aarch64 = https://github.com/varuns2903/tetromino/releases/download/v1.1.0/tetromino-1.1.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = ed14f88a14f23365c6fcb81e1882e30ba77a222277a1332e94c349093521cd68

pkgname = tetromino-bin
