pkgbase = tetromino
	pkgdesc = Falling-block puzzle game for the terminal, written from scratch in C++20 (termios + ANSI, no ncurses)
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/varuns2903/tetromino
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = tetromino-1.1.0.tar.gz::https://github.com/varuns2903/tetromino/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = d585cd8d326b43333cb9613ec30b85fb87f6cfa6cc1e1f54c2ef7fe6a4d591e4

pkgname = tetromino
